/node_modules
/public/hot
/public/images
/public/storage/attachments
/storage/*.key
/storage/app/livewire-tmp
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
